

$theme-colors: (
    "primary": #66CC99,
    
);
$enable-rounded: false;
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap.scss';
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/
#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #99CC99;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	// grid-auto-rows: minmax(250px, auto);
	gap: 20px;
	justify-content: center;
  align-content: center;
  padding: 1rem;
  background-color: #99CC99;
}

// .card-image {
//   max-width: 250px;
// }

.card-text { 
  height:100px;
}

.card { 
  height: 400px;
}

.card-body { 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #CCFFFF;
  border-radius: 0%;
}

.card-body:hover { 
  transform: translate(0, -5px);

}
// .card-body button {
//   justify-self: flex-end;

// }

// .game-details { 
//   display:flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   background-color:#CCFFFF;
//   text-align: center;
//   padding: 15px;
// }

// .detail-image { 
//   display:flex; 
//   padding-left: 300px;
//   max-width: 500px;
//   text-align:center;
//   justify-content: center;
//   align-items:center; 
// }

// card header to be set height, or detail -- space between div within h3 and image 


.game-details { 
  display:flex;
  
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color:#CCFFFF;
  text-align: center;


}

.image-div {
  display: flex; 
  align-content: center;
  justify-content: center;
}

.detail-image { 
  // display:flex; 
 
  width: 500px;
  max-height: 500px;

  // justify-content: space-around;
  // align-items:center; 
}

.NavLink { 
  color: black;

}

.desc-div { 
  align-self: flex-start; 
  padding: 25px 150px;
}

.detailsGameName { 
  padding: 10px;
}