@import 'bootstrap/dist/css/bootstrap.min.css';

/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/
#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(250px, auto);
	gap: 20px;
	justify-content: center;
	align-content: center;
}
img {
  max-width: 250px;
  max-height: 150px;
}
